# .gitignore
# Sorted in "env LANG=C sort" order.

*.a
*.bak
*.d
*.exe
*.gen.cc
*.gen.h
*.gen.out
*.gen.y
*.o
.vscode
c.in/c.in4c
c.in/c.in4d
config.mk
config.status
examples/cexp/cexp3b.gr
examples/crash1.cc
examples/crash1.h
examples/gcom/ast.cc
examples/gcom/ast.h
examples/gcom/gcom.cc
examples/gcom/gcom.h
examples/gcom/tokens.tok
examples/gcom1/gcom.cc
examples/gcom1/gcom.h
examples/gcom1/tokens.tok
examples/gcom4/gcom.cc
examples/gcom4/gcom.h
examples/gcom4/tokens.tok
examples/gcom5/gcom.cc
examples/gcom5/gcom.h
examples/gcom5/tokens.tok
examples/gcom7/ast.cc
examples/gcom7/ast.h
examples/gcom7/gcom.cc
examples/gcom7/gcom.h
examples/gcom7/tokens.tok
examples/postgresql16.cc
examples/postgresql16.h
examples/scannerless/sless.cc
examples/scannerless/sless.h
glrconfig.h
gramlex.yy.cc
gramlex.yy.h
grampar.output
out
personal.mk
test-bad-tmp.c
triv/*.gr

# EOF
